<%# app/views/devil_fruits/index.html.erb %>

<div class="container my-12 mx-auto px-4 md:px-12">
  <h2 class="text-center font-monospace elegantshadow">Choose your Devil Fruit...Become invincible! </h2>

  <%# ************** Display Devil Fruit Cards ****** %>
    <div class="container">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <div class="row justify-content-center">
          <% @devil_fruits.each do |devil_fruit| %>
            <div class ="col-8 col-sm-6 col-md-4">
              <div class="card bg-light text-center mb-3 mt-3">
              <% if devil_fruit.photo.key.nil? %>
                <img src="https://cdn.shopify.com/s/files/1/0556/3822/9043/files/Fruit001.png?v=1650868361" alt="default photo">
              <% else %>
                <%= cl_image_tag devil_fruit.photo.key, height: 298, width: 298, crop: :fill %>
              <% end %>
                <div class="card-body">
                  <h5 class="card-text mb-1 text-xs font-monospace"> <%= devil_fruit.name %></h5>
                  <h5 class="card-text mb-1 text-xs font-monospace"><%= devil_fruit.price %> ðŸ’²Berrys</h5>
                  <p class="card-text  custom-btn btn-9 mt-5"> <%= link_to 'Show Devil Fruit ðŸ“', devil_fruit_path(devil_fruit), class:"text-decoration-none text-dark font-monospace"%></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


  <%# ************** Create Devil Fruit ****** %>
  <p class="custom-btn btn-9"> <%= link_to 'Upload a new Devil Fruit ðŸŒ', new_devil_fruit_path(@devil_fruit), class:"text-decoration-none text-dark font-monospace"%></p>
</div>
